body {
    margin: 40px 0px 0px 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: #333333;
}

a:hover {
    color: #177c9c;
}

footer {
    margin-top: 30px;
    background-color: #f1f1f3;
    padding: 8px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #222;
    margin-right: 30px;
    font-weight: 700;
}

hr {
    border-color: #ffd072;
}

p, ol, ul, h1, h2, h3, h4, h5, h6 {
    margin: 10px 10%;
}