body {
    margin: 40px 0px 0px 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: #333333;
}

a:hover {
    color: #177c9c;
}

footer {
    margin-top: 30px;
    background-color: black;
    padding: 8px;
}

footer a {
    color: white;
    margin-right: 30px;
}

p, ol, h1, h2, h3, h4, h5, h6 {
    margin: 10px 10%;
}