@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

body {
    margin: 100px 0px 100px 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: #333333;
    font-size: 20px;
}

a:hover {
    color: #177c9c;
}

footer {
    margin-top: 30px;
    background-color: #f1f1f3;
    padding: 8px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #222;
    margin-right: 30px;
    font-weight: 700;
}

header {
    background-color: #f1f1f3;
    padding: 8px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

header a {
    color: #222;
    margin-right: 30px;
    font-weight: 700;
}

hr {
    border-color: #ffd072;
}

p, ol, ul, h1, h2, h3, h4, h5, h6, img {
    margin: 10px 10%;
}

h1, h2, h3, h4, h5, h6, a{
    font-family: 'Shadows Into Light', cursive;
}

img {
    max-width: 300px;
    max-height: 500px;
}

.side-by-side {
    display: flex;
    max-width: 50%;
}

.side-by-side img {
    width: 60px;
    height: 60px;
}

@media only screen and (min-width: 600px) {
    .side-on-desktop {
      display: flex;
      justify-content: space-evenly;
    }
  }